<!doctype html>

<div id="consent">
    <h1>Flashcard Study: Consent Form</h1>
    <h3>Key Information</h3>
    <div style="border:solid; padding:10px;">
        <p>The following is a short summary of this study to help you decide whether or not to be a part of this study. More detailed information is listed later on in this form.</p>

        <h4>Why am I being invited to take part in a research study?</h4>
        <p>We invite you to take part in a research study because you are an adult in the USA.</p>

        <h4>What should I know about a research study?</h4>
        <ul>
            <li>Someone will explain this research study to you.</li>
            <li>Whether or not you take part is up to you.</li>
            <li>Your participation is completely voluntary.</li>
            <li>You can choose not to take part.</li>
            <li>You can agree to take part and later change your mind.</li>
            <li>Your decision will not be held against you.</li>
            <li>Your refusal to participate will not result in any consequences or any loss of benefits that you are otherwise entitled to receive.</li>
            <li>You can ask all the questions you want before you decide.</li>
        </ul>

        <h4>Why is this research being done?</h4>
        <p>This project aims to understand how people think about short-term and long-term rewards. The knowledge gained from this study will help us understand how to help individuals stick to their long-term behavior change goals.</p>

        <h4>How long will the research last and what will I need to do?</h4>
        <p>We expect that you take the entrance and exit surveys, which should take up to 20 minutes. 
        Between the entrance and exit surveys, which are an hour apart, you have the option of participating in a flashcard study session. Participation is completely voluntary and does not affect whether you are paid. </p>

        <h4>Is there any way being in this study could be bad for me?</h4>
        <p>We don’t believe there are any risks from participating in this research.</p>

        <h4>Will being in this study help me in any way?</h4>
        <p>
        If you participate in the flashcard section, you may learn some relevant Chinese vocabulary. You will also learn about your short-vs-long term decision-making and how you compare to others who have taken this study.  
        We cannot gaurantee benefits to others from your participation in this research. However, possible benefits to others include helping inform behavior change interventions in mobile health, so that others may be more successful at working towards their goals in the future.</p>
    </div>

    <h3>Detailed Information</h3>
    <div style="border:solid; padding:10px;">
        <h4>What is the purpose of this research?</h4>
        <p>Our research team aims to assess and improve the effectiveness of AI-driven personalization on digital platforms for behavior change. Examples of the interventions we are considering include personalized push notifications on a health app. We consider the personalization to be successful if it increases long-term engagement – which we measure as app retention and performance on the goals multiple weeks after the app was first downloaded.</p>
        <p>In order to personalize effectively, we want to understand how people think about long-term rewards, such as learning a new language. We also want to understand how people think about short-term rewards, such as skipping studying. If we understand how people think about and decide between short and long term rewards, we can design better practices for helping people prioritize the long-term. In this study, we have set up a gamified system to estimate how you think about short-vs-long term rewards.</p>

        <h4>How long will I take part in this research?</h4>
        <p>You will take part in this research for up to 20 minutes to complete the entry and exit surveys.</p>

        <h4>What can I expect if I take part in this research?</h4>
        <ul>
            <li>The research to take up to 20 minutes, with 5-10 minutes dedicated to onboarding and 10-20 minutes dedicated to the two surveys</li>
            <li>You will interact mainly with the online interface. A proctor will be available in the room to address any questions or concerns.</li>
            <li>The research will be done in person, ona computer.</li>
            <li>You will only be asked to perform these research tasks once.</li>
        </ul>

        <h4>If I take part in this research, how will my privacy be protected? What happens to the information you collect?</h4>
        <p>Efforts will be made to limit the use and disclosure of your Personal Information to people who have a need to review this information. We cannot promise complete secrecy. Organizations that may inspect and copy your information include the IRB and other representatives of this organization.</p>

        <h4>Can I be removed from the research without my OK?</h4>
        <p>The person in charge of the research study or the sponsor can remove you from the research study without your approval. Possible reasons for removal include low performance on comprehension checks following the onboarding process.</p>

        <h4>What else do I need to know?</h4>
        <p><strong>Compensation</strong> - If you agree to take part in this research study, we will pay you $5 (our rate is $15/hour) for your time and effort.</p>
        <p><strong>Reward for flashcards</strong> - If you agree to take part in the flashcard portion, you <strong>will not</strong> be paid for that time. However, if you stay until the exit survey, you will receive insights about your learning style and how it compares to others in the study.</p>

        <h4>Who can I talk to?</h4>
        <p>If you have questions, concerns, or complaints, or think the research has hurt you, talk to the research team via <a href="mailto:eurashin@g.harvard.edu">eurashin@g.harvard.edu</a>.</p>
        <p>This research has been reviewed and approved by the Harvard University Area Institutional Review Board (“IRB”). You may talk to them at (617) 496-2847 or <a href="mailto:cuhs@harvard.edu">cuhs@harvard.edu</a> if:</p>
        <ul>
            <li>Your questions, concerns, or complaints are not being answered by the research team.</li>
            <li>You cannot reach the research team.</li>
            <li>You want to talk to someone besides the research team.</li>
            <li>You have questions about your rights as a research subject.</li>
            <li>You want to get information or provide input about this research.</li>
        </ul>
    </div>

    <h3>Consent Block for Adult Subject</h3>
    <div style="border:solid; padding:10px;">
        <p>This documents your permission to take part in this research.</p>
        <form action="/consent?user_name={{ user_name }}" method="post">
            <input type="checkbox" id="consent_checkbox" />
            <b>I agree to take part in this study.</b>
            <br>
            <br>
            <button type="submit" id="continue">Start experiment</button>
        </form>
    </div>
</div>
