<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Flashcard Study</title>
</head>
<body>

<div class="container">
    <h1>Thank you for taking part in our study!</h1>
    <p>The proctor will deliver the exit survey at the time shown on the board. Feel free to leave and come back or to stick around. You will not be compensated if you do not take the exit survey.</p>
</div>

</body>
</html>
