<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Flashcard Study</title>
</head>
<body onload="onload()">
    <script>
        function shuffle(arr) {
            for (let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]]; // Swap elements
            }
            return arr; 
        }

        function onload() {
            // Initialize words
            fronts = ["你 (Nǐ)", "好 (Hǎo)", "请 (Qǐng)", "问 (Wèn)", "贵 (Guì)", "姓 (Xìng)", "我 (Wǒ)", "呢 (Ne)", "小姐 (Xiǎojiě)"]; 
            backs = ["You", "Good, Well, Fine, OK", "Please (polite form)\nTo treat or to invite somebody", "To ask", "Honorable, Expensive", 
                    "Family name, Surname", "I, Me", "(question particle for subjects already mentioned)", "Miss, Young lady"]; 
            localStorage.setItem("fronts", JSON.stringify(fronts)); 
            localStorage.setItem("backs", JSON.stringify(backs)); 
            localStorage.setItem("learned", JSON.stringify([]));
    
            // Initialize interventions
            let notification_index = Array.from({ length: 15 }, (_, i) => i);
            notification_index = shuffle(notification_index);
            localStorage.setItem("notification_order", JSON.stringify(notification_index));

            //Save the randomization information
            localStorage.setItem("intervention", {{intervention}});
            localStorage.setItem("skill", {{skill}});
            localStorage.setItem("burden", {{burden}});
        }

    </script>

    <div style = "width:60%; padding-left:20%; padding-right:20%; padding-top:5%; text-align:left; ">
        <p>
        The exit survey will be administered one hour from now; the proctor will have the time on the board.
        As a reminder, you will be paid when you take the exit survey. You are welcome to leave and come back for the exit survey. 
        </p> 

        <h2>Option to participate in flashcard section</h2>
        <p>You have the option in participating in the flashcard section, where you will try to learn 100 flashcards over several rounds. Benefits of participating:</p>
        <ul>
            <li>The flashcards are taken from a relevant Chinese textbook, [ref]</li>
            <li>If you learn all the cards before the hour is up, you can take the exit survey early.</li>
            <li>If you participate, you will receive insights about your learning style and flashcard learning with respect to other participants.</li>
        </ul>
        <p>Your studying will happen in rounds. Each round is approximately 7 minutes and includes:</p>
        <ul>
            <li>Three minutes of review</li>
            <li>Three minutes of quizzing</li>
            <li>Brief questions about how you feel</li>
            <li>You choose whether to do another session. Remember, you only get insights about your performance if you participate in sessions until the exit survey.</li>
        </ul>
        
        <h2>Which do you choose?<h2>
                <form id="nameForm" method="POST" action="/entry?user_name={{user_name}}">
            <button type="submit" name = "action" value="quit">Quit. I'll come back for the exit survey</button>
            <button type="submit" name = "action" value="participate">Participate in the flashcard section</button>
        </f
orm>
    </div>

</body>
</html>
