<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <script type="text/javascript" src="static/words.js"></script>
    <script type="text/javascript" src="static/utils.js"></script>
    <title>Flashcard Study</title>
</head>
<body onload="onload()">
    <script>

        function onload() {
            console.log(fronts);
            // Initialize words
            localStorage.setItem("fronts", JSON.stringify(fronts.slice(0, 100))); 
            localStorage.setItem("backs", JSON.stringify(backs.slice(0, 100))); 
            localStorage.setItem("learned", JSON.stringify([]));
    
            // Initialize interventions
            let notification_index = Array.from({ length: 15 }, (_, i) => i);
            notification_index = shuffle(notification_index);
            localStorage.setItem("notification_order", JSON.stringify(notification_index));

            //Save the randomization information
            localStorage.setItem("intervention", {{intervention}});
            localStorage.setItem("skill", {{skill}});
            localStorage.setItem("burden", {{burden}});
        }

    </script>

    <div style = "width:60%; padding-left:20%; padding-right:20%; padding-top:5%; text-align:left; ">

        <h2>Flashcard Section</h2>
        <p>Next is the flashcard section, where you will learn 100 flashcards over several rounds. Benefits of participating:</p>
        <ul>
            <li>This is an opportunity to learn Chinese. The vocabulary is from the Elementary Chinese I textbook.</li>
            <li>If you learn all the cards before the hour is up, you can take the exit survey early.</li>
            <li>If you study until the exit survey time, you will receive insights about your learning style and how you compare to other participants.</li>
        </ul>
        <p>Your studying will happen in rounds. Each round is approximately 7 minutes and includes:</p>
        <ul>
            <li>Three minutes of review</li>
            <li>Three minutes of quizzing</li>
            <li>You choose whether to do another session. Remember, you only get insights about your performance if you participate in sessions until the exit survey.</li>
        </ul>
        
        <p>
        The exit survey will be administered one hour from now; the proctor will have the time on the board.
        As a reminder, you will be paid when you take the exit survey. You are welcome to leave and come back for the exit survey. 
        </p> 
        <h2>Which do you choose?<h2>
                <form id="nameForm" method="POST" action="/entry?user_name={{user_name}}">
            <button type="submit" name = "action" value="quit">Quit. I'll come back for the exit survey</button>
            <button type="submit" name = "action" value="participate">Participate in the flashcard section</button>
        </f
orm>
    </div>

</body>
</html>
