<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Flashcard Study</title>
</head>
<body>
    <script>
        localStorage.setItem("visitCount", 0);
        localStorage.setItem("learned", []);
    </script>
    <div class="container">
        <h1>Welcome to our study!</h1>
        <p>Choose a username. This <i>does not</i> have to be your real name.</p>
        <form id="nameForm" method="POST" action="/create_sheet">
            <input type="text" id="userName" name="userName" placeholder="Enter your name" required>
            <br>
            <button type="submit">Next Page</button>
        </form>
    </div>

</body>
</html>
