<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="static/utils.js"></script>
    <link rel="stylesheet" href="static/main.css">
    <title>Flashcard Study</title>
    <style>
        .likert {
            margin-right:3px;
        }

        #question{
            width:70%;
            margin: 0 auto;
            text-align:left;
        }
        #message {
            cursor:pointer;
            color: #D32F2F; /* Vibrant red text for emphasis */
            font-weight: bold; /* Bold text */
            font-family: 'Arial', sans-serif; /* Clean, readable font */
            margin: 0;
        }

        #message_container {
            margin-top:2%;
            padding:2%;
            background-color:#FFF9C4;
            border: 2px solid #FFEB3B; /* Slightly darker yellow border */
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
            text-align: center; /* Center the message text */
            animation: fadeIn 1s ease-in-out;
        }
        
        /* Keyframes for the fade-in effect */
        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: scale(0.9);
          }
          to {
            opacity: 1;
            transform: scale(1);
          }
        }
        
        /* Add an icon before the message text */
        #message::before {
          content: "💡 "; /* Light bulb icon */
          font-size: 1.5rem; /* Slightly larger icon */
          vertical-align: middle;
        }

    </style>
</head>
<body>
<script>
    var num_learned = JSON.parse(localStorage.getItem("learned")).length; 
    var num_sessions = parseInt(localStorage.getItem("visitCount"));
    var words_per_session = parseFloat(num_learned) / parseFloat(num_sessions);
    const urlParams = new URLSearchParams(window.location.search);
    var last_round = urlParams.get("last_round");
    var burden_notifications;
    var seconds_per_word; 
    if(num_learned > 0) {
        seconds_per_word = parseInt(num_sessions * 3 * 60)/parseFloat(num_learned);
        burden_notifications = [
                `Did you know, Chinese is one of the most difficult languages to learn for native English speakers. Think about what an amazing feat you've done by learning ${num_learned} words already. `,
                `By learning Chinese, you're unlocking the ability to connect with 16% of the world's population. This gives you access to a world of different connections and opportunities.`,
                `Flashcards can be fun! They're like collecting achievements in a game. Every word you master is a new badge of honor— you've already earned ${num_learned}! `, 
                `Make it a game: how many cards can you get right in a row? Keep the streak alive and watch your competency soar!`, 
                `Only about 20% of Americans can speak two or more languages fluently. By studying Chinese, you're proving yourself the exception!`, 
                `You just learned ${num_learned} new words. That's really amazing.`, 
                `Compete against yourself: last round, you learned ${last_round} words. Can you do better this next round? What's your strategy?`, 
                `You've been learning a new word every ${seconds_per_word} seconds. That's such a small price to pay for learning such a hard language. Keep at it!`, 
                `The next session is just a few minutes long! You can spare some time to review some flashcards before moving on with your day.`, 
                `Strategy: for the next round, focus on learning just ten cards. Ten cards isn't so bad!`
                ]
    }
    else {
        seconds_per_word = 30; 
        burden_notifications = [
                `Did you know, Chinese is one of the most difficult languages to learn for native English speakers. By staying for another session, you're proving you're capable of taking on big challenges. `,
                `By learning Chinese, you're unlocking the ability to connect with 16% of the world's population. This gives you access to a world of different connections and opportunities.`,
                `Flashcards can be fun! They're like collecting achievements in a game. Every word you master is a new badge of honor! `, 
                `Make it a game: how many cards can you get right in a row? Keep the streak alive and watch your competency soar!`, 
                `Only about 20% of Americans can speak two or more languages fluently. By studying Chinese, you're proving yourself the exception!`, 
                `You've stayed for ${num_sessions}. Your commitment to learning Chinese and bettering yourself is amazing.`, 
                `Compete against yourself: last round, you learned ${last_round} words. Can you do better this next round? What's your strategy?`, 
                `You've been learning a new word every ${seconds_per_word} seconds. That's such a small price to pay for learning such a hard language. Keep at it!`, 
                `The next session is just a few minutes long! You can spare some time to review some flashcards before moving on with your day.`, 
                `Strategy: for the next round, focus on learning just ten cards. Ten cards isn't so bad!`
                ]
        }

    const discount_notifications = [
                `Take a second to picture yourself learning the last flashcard. How will it feel to see the unlearned pile be empty and to know you finished the entire deck? `, 
                `Visualize filling up the progress bar to 100%. Choosing to stay another session will help you get there.`, 
                `Picture yourself walking out of this room knowing you learned every flashcard that was asked of you. Now imagine walking out of this room knowing you gave up. Which would you rather feel?`, 
                `You have a choice: stay until the end of the study to learn about yourself or quit now and lose out on the insight.`, 
                `Think about how satisfying it will feel to walk out of here with a wealth of new vocabulary. You can do your future self that favor now.`, 
                `Think about it-- if you learn all of your flashcards, you get to take the exit survey early. You'll have studied Chinese and have saved on time. Talk about efficiency!`, 
                `While you’re already in the flow, keep going— stopping now means you'll have to restart the hard work from scratch tomorrow.`, 
                `Staying another session means you're closer to learning about your study style. Walk away now and you'll lose the chance to learn about yourself.`, 
                `To read modern Chinese, you only need around 2,000 characters to be considered literate. Learning 100 words today puts you 5% closer to literacy!`, 
            `On average, it takes you ${seconds_per_word}  seconds to learn a new word. Imagine how many words you can learn by finishing out the hour!`
        ]; 
    const no_notifications =Array(15).fill(""); 
    const notifications = [no_notifications, burden_notifications, discount_notifications];

    function displayRandomWord() {
        var notification_order = JSON.parse(localStorage.getItem("notification_order"));
        var intervention = localStorage.getItem("intervention");
        var randomNumber;
        if(num_sessions < notification_order.length) {
            var randomNumber = notification_order[num_sessions]; 
        }
        else {
            var randomNumber = Math.floor(Math.random() * (notification_order.length - 1)) + 1;
        }

        const message = notifications[intervention][randomNumber];
        console.log(intervention + " " + randomNumber); 
        console.log(notifications);
        /*
        var show = "";
        for(var i=0; i<notification_order.length; i++) {
                show +=("\n" + notifications[intervention][i])
            }
        document.getElementById("message").innerHTML = show;
    */
        document.getElementById("message").innerHTML = message;
        document.getElementById("intervention_shown").value = message; // Set the value of the hidden input
        document.getElementById("learned").value = JSON.parse(localStorage.getItem("learned")).length;

        if(intervention == 0) { // No message to read
            document.getElementById("message_container").style.display = "none"; 
            document.getElementById("message_header").style.display = "none"; 
            reveal();
        }
    }


    // Call updateVisitCount() when the page loads
    window.onload = function() {
        displayRandomWord();
        set_progress_bar(); 
    };

        
    function reveal() {
          document.getElementById("notificationForm").style.display = "block";
          document.getElementById("instructions").style.display="none";
        }
</script>

<!--
<div id="progress" style="width:100%; margin-top:100px;">
    <h3 class="line">Flashcards learned:</h3>
    <progress class="line" id="progress_bar" value="32" max="100" style="width:65%;"/>
</div>
-->


<div style="text-align:left; padding-left:20%; width:60%; margin-top:5%;">
    <!-- Progress bar --->
    <h1>Your progress</h1>
    <h3 class="progress-label" id="num_learned"></h3>
    <h3 class="progress-label">/</h3>
    <h3 class="progress-label" id="num_total"></h3>
    <h3 class="progress-label"> words learned</h3>
    <div class="progress-container">
      <div class="progress-bar" id="progress_bar" style="width: 0%;"></div>
    </div>
    
    <h1 id="message_header">Your message</h1>
    <div id="message_container">
        <h2 id="message" onclick="reveal()"></h2>
    </div>

    <h3 id="instructions">Click the message above to move on.</h3>
    <form id="notificationForm" method="POST" action="/notification?user_name={{ user_name }}" style="display:none;">
         <input type="hidden" id="intervention_shown" name="intervention_shown" value="">
         <input type="hidden" id="learned" name="learned" value="">
         <input type="hidden" id="userName" name="user_name" value="{{ user_name }}">

         <input type="hidden" id="visitCount" name="visitCount" value="">
         <input type="hidden" id="learned" name="learned" value="">
         
         <p><i>It is burdensome for me to stay for another session.</i></p>
         <label class="radio-inline likert" >
             <input type="radio" name="burden-negative" value="-3" required>
             Strongly disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="-2">
             Disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="-1">
             Somewhat disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="0">
             Neutral
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="1">
             Somewhat agree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="2">
             Agree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="burden-negative" value="3">
             Strongly agree
         </label>
         <br>
         <br>
         
         <p><i>Three sessions from now feels far away.</i></p>
         <label class="radio-inline likert" >
             <input type="radio" name="discount-negative" value="-3" required>
             Strongly disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="-2">
             Disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="-1">
             Somewhat disagree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="0">
             Neutral
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="1">
             Somewhat agree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="2">
             Agree
         </label>
         <label class="radio-inline likert">
             <input type="radio" name="discount-negative" value="3">
             Strongly agree
         </label>
         <br>
         <br>
         
         <h2>Would you like to end or continue the study?</h2>
         <button type="submit" name="choice" value="end" style="margin-right:20px;">End</button>
         <button type="submit" name="choice" value="continue">Continue</button>
     </form>
</div>


</body>
</html>
