<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .container {
            margin-top: 100px;
        }
        input, button {
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
        }

        #question{
            width:50%;
            margin: 0 auto;
            text-align:left;
        }

        
    </style>
</head>
<body>
    <div class="container">
        <form action="/survey?user_name={{ user_name }}" method="post">
            <div id="question">
            <p>Please answer the following questions:
            <ol>
              <li>How burdensome does choosing to stay for one more session feel, on a scale from 1 to 10? </li>
              <li>How many sessions away do you feel like the goal is? </li>
            </ol> 
            </p>
            <br>
            </div>
            <label for="answer">Enter your answer as two numbers, separated by a comma.</label><br>
            <input type="text" id="answer" name="data" pattern="^\d+,\s*\d+$" placeholder="Burden Level, Sessions Away" style="width:300px" required><br>
            <input type="hidden" name="user_name" value="{{ user_name }}">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
