<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div class="container">
        <h1>question to sus out burden and gamma</h1>
        <button id="nextButton">Submit</button>
    </div>

    <script>
        // Function to navigate to the next page
        function goToNextPage() {
            window.location.href = "/review"; // Change "next_page.html" to the URL of your next page
        }
    
        // Event listener for button click
        document.getElementById("nextButton").addEventListener("click", goToNextPage);
    </script>    
</body>


